@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700;900&family=Roboto:wght@400;600;700;900&display=swap&family=Manus:wght@400;600;700;900");

@tailwind base;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #002548;
  --accent1: #01d4b8;
  --accent2: #0c91df;
  --accent3: var(--color-gray-800);

}

*,
:after,
:before {
  box-sizing: border-box;
  transition-duration: 50ms;
}

html {
  @apply transition-colors duration-300;
  scroll-behavior: smooth;
}

html #follower {
  content: "";
  position: fixed;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 2;
  background: var(--accent2);
  filter: blur(200px);
  opacity: 0.2;
  pointer-events: none;
}


.dark {
  --background: oklch(0.21 0.034 264.665);
  --foreground: #ededed;
}

body {
  background: var(--background) ;
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.brand {
  border-radius: 50%;
  background: var(--accent1);
  box-shadow: 0 0 40px var(--accent1);
  color: white;
}

.logo {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

}

p {
  font-size: .98rem;
  font-weight: 400;
}

.hero::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 300px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(180deg, var(--accent1) 0%, #01617ee7 100%);
  filter: blur(140px);
  z-index: 0;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 400px;
  height: 400px;
  border-radius: 40%;
  background: linear-gradient(180deg, #0c91dfe7 0%, #01d4b8e7 100%);
  filter: blur(120px);
  z-index: 0;
}

.glass {
  position: relative;
  z-index: 10;
}

.inner-icon svg {
  width: 30px;
  height: 30px;
}

nav svg {
  width: 40px;
  height: 40px;
}

.pill-header {
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
  font-weight: 700;
  box-shadow: 0 0 40px var(--accent2);
  border-radius: 20px;
  width: 20%;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-container:before,
.carousel-container:after {
  content: "";
  position: absolute;
  top: 0;
  width: 40px; /* Adjust the width to control the fade amount */
  height: 100%;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.carousel-container:before {
  left: 0;
  background: linear-gradient(to right, var(--accent3), transparent);
  z-index: 10;
}

.carousel-container:after {
  right: 0;
  background: linear-gradient(to left, var(--accent3), transparent);
}

.experience .pills span {
  color: var(--accent1);
  font-size: .8rem;
  font-weight: 700;
  padding: 5px 20px;
  border-radius: 20px;
  background: #01d4b81f;
  margin-top: 10px;

}

@media (min-width: 760px) {
  
nav svg {
  width: 50px;
  height: 50px;
}

}